ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="mmcblk1p[0-9]*", ENV{ID_FS_TYPE}!="", TAG+="systemd", ENV{SYSTEMD_WANTS}+="sdcard-mount@%k.service"
